.header {
    background-color: white;
    height: fit-content;
    width: 100%;
    padding: 9px 16px 8px 16px;
}

.header .app-name {
    font-size: 1.5em;
    font-weight: bold;
    color: #000;
    text-decoration: none;
}